<h1>Total Posts <%= @posts.count %> </h1>
<p>Find me in app/views/posts/index.html.erb</p>
<table>
	<tr>
		<th>ID </th>
		<th>Title</th>
		<th></th>
	</tr>

	<% @posts.each do |post|%>
	<%= render :partial => "post", locals: { post: post } %>
	<% end %>
	<!-- <%= render :partial => "post", collection: @posts %> -->
</table>